[Unit]
Description=Jenkins

[Service]
Environment=JENKINS_HOME={{ jenkins_home }}
Environment=JENKINS_CONFIG_PATH={{ jenkins_config_path }}
ExecStart=/usr/bin/java -jar /usr/share/jenkins/jenkins.war --httpPort={{ jenkins_port }}

[Install]
WantedBy=multi-user.target
